
body {
    background-color: black;
}

h1 {
    color:beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

h2 {
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

.description {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: lighter;
}

p {
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

.column {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    float: left;
    width: 30%;
    padding: 1.5%;
  }

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
  }

.card {
    background-color: rgb(186, 186, 168);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

hr {
    width: 90%;
    margin-bottom: 20px;
}
  
