<!DOCTYPE html>
{% extends 'base.html' %} {% block header %}
<h1 class="display-5">{% block title %}New Task{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="row align-content-center">
  <div class="col-12 col-md-6 mb-5">
    <form method="post">
      <label for="title">Title</label>
      <input
        class="form-control"
        name="title"
        id="title"
        value="{{ request.form['title'] }}"
        required
      />

      <label for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        value="{{request.form['description']}}"
      >
      </textarea>

      <label for="status">Status</label>
      <div>
        <input class="btn-check" type="radio" name="status" id="todo"
        value="todo" {% if request.form['status'] == 'todo' %}checked{% endif %}
        {% if not request.form %}checked{% endif %} required>
        <label class="btn btn-outline-dark" for="todo">To Do</label>

        <input class="btn-check" type="radio" name="status" id="doing"
        value="doing" {% if request.form['status'] == 'doing' %}checked{% endif
        %} required>
        <label class="btn btn-outline-dark" for="doing">Doing</label>

        <input class="btn-check" type="radio" name="status" id="done"
        value="done" {% if request.form['status'] == 'done' %}checked{% endif %}
        required>
        <label class="btn btn-outline-dark" for="done">Done</label>
      </div>

      <label for="priority">Priority</label>
      <div>
        <input class="btn-check" type="radio" name="priority" id="low"
        value="low" {% if request.form['priority'] == 'low' %}checked{% endif %}
        {% if not request.form %}checked{% endif %} required>
        <label class="btn btn-outline-success" for="low">None</label>

        <input class="btn-check" type="radio" name="priority" id="high"
        value="high" {% if request.form['priority'] == 'high' %}checked{% endif
        %} required>
        <label class="btn btn-outline-danger" for="high">High</label>
      </div>
      <hr />

      <button type="submit" class="btn btn-outline-success px-5 mt-2">
        Save
      </button>

      <a class="btn btn-outline-dark px-5 mt-2" href="{{url_for('index')}}"
        >Back</a
      >
    </form>
  </div>
</div>
{% endblock %}
